/*MAIN*/
body {
    background-color: #ececec;
    background-image: url(../images/tlo.png);
    /* Background pattern from Toptal Subtle Patterns -> https://www.toptal.com/designers/subtlepatterns/skulls/ */
    background-repeat: repeat;
    opacity: 0.85;
}

/*NOTES*/

.note {
    -webkit-clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%, 0 20%);
    clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%, 0 20%);
    background-color: #ffce57;
    -webkit-box-shadow: 78px 101px 8px 0px rgba(0,0,0,0.31);
    -moz-box-shadow: 78px 101px 8px 0px rgba(0,0,0,0.31);
    box-shadow: 78px 101px 8px 0px rgba(0,0,0,0.31);
    width: 200px;
    min-width: 200px;
    height: 200px;
}

.triangle { 
    width: 0;
    height: 0; 
    border-bottom: 45px solid #ffda81; 
    border-left: 45px solid transparent; 
    position: absolute;
    top: -5px;
    left: -3px;
    z-index: 30;
}

.shadow-triangle {
    width: 0;
    height: 0;
    border-top: 45px solid #dcbc6d;
    border-right: 45px solid transparent;
    position: absolute;
    top: 40px;
    left: -2px;
    z-index: 2;
}

.notes-container {
    max-width: 80%;
}

.card-body {
    overflow: hidden;
    margin-bottom: 20px; 
    cursor: pointer;
}

/*NOTES COLORS*/
/* GREEN */
.note-color-green {
    background-color: #a0d468;
}

.note-color-green .triangle {
    border-bottom-color: #a7cc80;
}

.note-color-green .shadow-triangle {
    border-top-color: #8aa86a;
}

/* BLUE */
.note-color-blue {
    background-color: #4fc0e8;
}

.note-color-blue .triangle {
    border-bottom-color: #83cee9;
}

.note-color-blue .shadow-triangle {
    border-top-color: #61a9c2;
}

/* ORANGE */
.note-color-orange {
    background-color: #fb6e52;
}

.note-color-orange .triangle {
    border-bottom-color: #fd8c76;
}

.note-color-orange .shadow-triangle {
    border-top-color: #d67663;
}

/* YELLOW */
.note-color-yellow {
    background-color: #ffce57;
}

.note-color-yellow .triangle {
    border-bottom-color: #ffda81;
}

.note-color-yellow .shadow-triangle {
    border-top-color: #dcbc6d;
}

/* LAVENDER */
.note-color-lavender {
    background-color: #ac92ed;
}

.note-color-lavender .triangle {
    border-bottom-color: #bdb0df;
}

.note-color-lavender .shadow-triangle {
    border-top-color: #9f91c0;
}

/*TEXT*/
.note-title {
    padding-left: 2rem;
}

p {
    padding-left: 1rem;
}

a {
    color:rgb(48, 48, 48);
}
a::focused {
    color:#df4350;
}

a:hover {
    color: #df4350;
}

/*BUTTONS*/
.colapseButton {
    background: no-repeat;
}

.search-button {
    background-color: #ff5563;
    color: #ffffff;
}
.search-button:hover {
    background-color: #e64a57;
}
.modal-button {    
    background-color: #df4350;
    color: #ffffff;
}
.modal-button-top {
    background: no-repeat;
    color: #535353;
    border-right: 1px solid #535353;
}
.modal-button-top:last-child {
    border: none;
}
.btn-circle {
    width: 30px;
    height: 30px;
    border-radius: 35px;
    outline: none !important; 
}

.btn.focus,
.btn:focus {
    outline: 0;
    outline-color: transparent;
    outline-width: 0;
    outline-style: none;
    box-shadow: 0 0 0 0 rgba(0,123,255,0);
}

.add-note-button {
    width: 60px;
    height: 60px;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 10rem;
    border-radius: 50%;
    font-size: 30px;
    line-height: 1.33; 
    color: #ffffff;
    background-color: #ff5563;
    border: 1px solid #d4414d;
}

@media (max-width: 900px) {
    .add-note-button {
        position: relative;
        left: 45.5%;
    }
}

.add-note-button:hover {
    background-color: #e64a57;
}

.radio-color.active {
    border: 1px solid #535353 !important;
}

/*SIDEBAR*/
.sidebar {
    background: #ffffff;
    border-width: 0 1px 0 0;
    border-style: solid;
    border-color: #e3e3e3;
}
.stickbar {
    position: fixed;
    top: 1rem;
    left: 0.3rem;
}

@media only screen and (min-width: 768px) {
    .sidebar {
        min-height: calc(100vh);
    }
    .add-note-button {
        position: fixed;
        bottom: 40px;
        left: 95px;
    }
}

/*LOGO*/
.logo {
    font-size: 3rem;
    opacity: 0.6;
    color: rgb(48, 48, 48);
}

/*FORMS AND IMPUTS*/
.form-note-text {
    outline: none;
    border: none;
}
.form-note-text:focus {
    outline: none;
    border: none;
    box-shadow: none;
}


